
<div class="container">
    <div class="search">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>

    <div class="pagination">
        <h6 class="count">Total :  {{ count }}</h6>

        <button class="previous" (click)="onPrev()" [hidden]="!previous" >
            <i class="fa fa-chevron-left"></i>
        </button>
        
        <button class="next" (click)="onNext()" [hidden]="!next">
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>

    <div class="grid-container">
        <div *ngFor="let person of people | filter:term">
            <div class="grid-item">
                <span>
                    <app-card [person]="person"></app-card>
                </span>
            </div>
        </div>
    </div>
</div>
