.container {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-image: url("/assets/images/starWars.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 110% 114%;
    background-color: #ffe8ec24;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.count {
    padding-left: 17px;
    font-size: 12px !important;
}

.previous {
    padding-top: 2px;
    padding-left: 20px;
    cursor: pointer;
    font-size: small;
    background-color: transparent;
    border: none;
}

.next {
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 11px;
    cursor: pointer;
    font-size: small;
    background-color: transparent;
    border: none;
}

.fa {
    padding-right: 0;
    font-size: 12px !important;
    color: white;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search {
    display: flex;
    justify-content: flex-end;
}

