<div class="card" (click)="getpersonDetail(_person.url)">
    <div class="card-body">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
            <div class="data">
                <div class="name">
                    <h2 class="font-24">{{_person?.name}}</h2>
                </div>
                <div class="information">
                    <div class="item">
                        <span><i class="fa fa-calendar"></i> <span class="title">Birth year :</span> {{_person?.birth_year}}</span>
                    </div>

                <div class="item">
                    <span><i class="fa fa-user"></i><span class="title"> Gender :</span>  {{_person?.gender}}</span>
                </div>

                <div class="item">
                    <span><i class="fa fa-calendar"></i> <span class="title">Eye color :</span> {{_person?.eye_color}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

