.card {
    border: none;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff9e;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    margin-left: 0px;
    cursor: pointer;
    max-width: 85%;
    margin-bottom: 3%;
  }

.card:hover {
    background-color: #f7f6e1eb;
    transition: all 0.4s;
    border-left: solid 10px #dece10 !important;
}

.card-body {
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.media {
    display: flex;
    align-items: flex-start;
}

.fa {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #000000;
    font-size: 18px;
}

.name {
    text-align: center;
    font-family: system-ui;
}

.information {
    margin-left: 40px;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-left: 15px;
}

.item {
    padding-bottom: 10px;
}