<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="title">{{person.name}}</div>
        </div>
        
        <div class="card-body">
            <div class="general-info">
                <div class="title">
                    <span>General information</span>
                </div>

                <div class="grid-container">

                    <div class="grid-item">
                        <span>Birth year : </span> <span>{{person.birth_year}}</span>
                    </div>

                    <div class="grid-item">
                        <span>Gender : </span> <span>{{person.gender}}</span>
                    </div>
                </div>

                <div class="title">
                    <span>Body information</span>
                </div>

                <div class="grid-container">

                    <div class="grid-item">
                        <span>Eye color : </span> <span>{{person.eye_color}}</span>
                    </div>

                    <div class="grid-item">
                        <span>Hair color : </span> <span>{{person.hair_color}}</span>
                    </div>

                    <div class="grid-item">
                        <span>Height : </span> <span>{{person.height}}</span>
                    </div>

                    <div class="grid-item">
                        <span>Mass : </span> <span>{{person.mass}}</span>
                    </div>

                    <div class="grid-item">
                        <span>Skin color : </span> <span>{{person.skin_color}}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>