.container {
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("/assets/images/sw.png");
    height: 100vh;
}

.card{
    margin-left: 10px;
    width: 70%;
    height: 40vh;
    background-color: #dfdde4;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-left: 15%;
    margin-right: 15%;
  }

.card-header {
    background-color: #374758;
    text-align: center;
    font-size: larger;
    font-family: system-ui;
    font-weight: 600;
    padding: 10px;
    color: white;
}

.card-body {
    padding-top: 30px;
    padding-left: 10px;
}

.title {
    font-size: larger;
    font-weight: 600;
}

.vl {
    border-left: 1px solid #92929252;
    min-height: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    padding-bottom: 10px;
}